<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>Fakebook</title>
  <link rel="icon" href="assets/images/logo33.png" type="image/png" sizes="16x16">
</head>
<body>
<div class="theme-layout">

  <div class="responsive-header">
    <div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
      <span class="mh-text">
				<a href="newsfeed.html" title=""><img src="assets/images/logo2.png" alt=""></a>
			</span>
      <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
    </div>
    <div class="mh-head second">
      <form class="mh-form">
        <input placeholder="search" />
        <a href="#/" class="fa fa-search"></a>
      </form>
    </div>
  </div><!-- responsive header -->

  <div class="topbar stick">
    <div class="logo">
      <a title="" href="/"><img src="assets/images/img.png" alt=""></a>
    </div>
    <div class="top-area">
      <div class="main-menu">
				<span>
			    	<i class="fa fa-braille"></i>
			    </span>
      </div>
      <div class="top-search">
        <form method="post" class="">
          <input type="text" placeholder="Search People, Pages, Groups etc">
          <button data-ripple><i class="ti-search"></i></button>
        </form>
      </div>
      <div class="page-name">
        <span>Friend Request</span>
      </div>
      <ul class="setting-area">
        <li><a href="/" title="Home" data-ripple=""><i class="fa fa-home"></i></a></li>
        <li>
          <a href="/friend_request" title="Friend Requests" data-ripple="" (click)="onReqFr()">
            <i class="fa fa-user"></i><em class="bg-red" *ngIf="userInfoReq.length!=0">{{userInfoReq.length}}</em>
          </a>
        </li>
        <li >
          <a  title="Notification" data-ripple="" href="http://localhost:4200/notification" (click)="onNoti()">
            <i class="fa fa-bell"></i><em class="bg-red" *ngIf="notifications.length!=0">{{notifications.length}}</em>
          </a>
        </li>
      </ul>
      <div class="user-img">
        <h5 >Hi {{userLogin.name}}</h5>
        <img  [src]="userLogin.avatarUrl" height=45px width=45px alt="">
        <span class="status f-online"></span>
        <div class="user-setting">
          <span class="seting-title">User setting <a href="#" title="">see all</a></span>
          <ul class="log-out">
            <li><a href="/profile" title=""><i class="ti-user"></i> view profile</a></li>
            <li><a href="/edit-profile" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
            <li><a href="/fakebook/update" title=""><i class="ti-settings"></i>account setting</a></li>
            <li><a href="/logout" title=""><i class="ti-power-off"></i>log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- topbar -->


  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-16">
            <div class="row merged20" id="page-contents">
              <div class="user-profile">
                <figure>
                  <img [src]="userLogin.backgroundUrl"  alt="">
                </figure>
                <div class="profile-section">
                  <div class="row">
                    <div class="col-lg-2 col-md-3">
                      <div class="profile-author">
                        <div class="profile-author-thumb">
                          <img alt="author" [src]="userLogin.avatarUrl" height=80px width=80px>
                        </div>

                        <div class="author-content">
                          <a class="h4 author-name" href="http://localhost:4200/profile">{{userLogin.name}}</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <ul class="profile-menu">
                        <li>
                          <a class="active" >Request</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div><!-- user profile banner  -->
              <div class="col-lg-12">
                <div class="central-meta">
                  <div class="editing-interest">
                    <span class="create-post"><i class="ti-bell"></i> All Request</span>
                    <div class="notification-box">
                      <ul>
                        <li *ngFor="let user of userInfoReq">
                          <div>
                            <figure>
                              <img src="{{user.avatarUrl}}" alt="">
                            </figure>
                            <div class="mesg-meta">
                              <h6><a href="http://localhost:4200/user_page/{{user.user?.username}}" title="">{{user.name}}</a></h6>
                              <p>Đã gửi lời mời kết bạn!</p>
                              <div>
                                <button (click)="acceptFr(userLogin.id, user.id)">Đồng ý</button>
                                <button (click)="deleteFriend(userLogin.id ,user.id)">Xóa</button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div><!-- centerl meta -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="widget">
            <div class="foot-logo">
              <div class="logo">
                <a href="index.html" title=""><img src="assets/images/img.png" alt=""></a>
              </div>
              <p>
                The trio took this simple idea and built it into the world’s leading carpooling platform.
              </p>
            </div>
            <ul class="location">
              <li>
                <i class="fa fa-map-marker"></i>
                <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <p>+1-56-346 345</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <div class="widget-title"><h4>follow</h4></div>
            <ul class="list-style">
              <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
              <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
              <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
              <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
              <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <div class="widget-title"><h4>Navigate</h4></div>
            <ul class="list-style">
              <li><a href="about.html" title="">about us</a></li>
              <li><a href="contact.html" title="">contact us</a></li>
              <li><a href="terms.html" title="">terms & Conditions</a></li>
              <li><a href="#" title="">RSS syndication</a></li>
              <li><a href="sitemap.html" title="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <div class="widget-title"><h4>useful links</h4></div>
            <ul class="list-style">
              <li><a href="#" title="">leasing</a></li>
              <li><a href="#" title="">submit route</a></li>
              <li><a href="#" title="">how does it work?</a></li>
              <li><a href="#" title="">agent listings</a></li>
              <li><a href="#" title="">view All</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <div class="widget-title"><h4>download apps</h4></div>
            <ul class="colla-apps">
              <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
              <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
              <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- footer -->
  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">© Pitnik 2020. All rights reserved.</span>
          <i><img src="assets/images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="side-panel">
  <h4 class="panel-title">General Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>use night mode</span>
      <input type="checkbox" id="nightmode1"/>
      <label for="nightmode1"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Notifications</span>
      <input type="checkbox" id="switch22" />
      <label for="switch22" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Notification sound</span>
      <input type="checkbox" id="switch33" />
      <label for="switch33"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>My profile</span>
      <input type="checkbox" id="switch44" />
      <label for="switch44"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Show profile</span>
      <input type="checkbox" id="switch55" />
      <label for="switch55"  data-off-label="OFF"></label>
    </div>
  </form>
  <h4 class="panel-title">Account Setting</h4>
  <form method="post">
    <div class="setting-row">
      <span>Sub users</span>
      <input type="checkbox" id="switch66" />
      <label for="switch66" data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>personal account</span>
      <input type="checkbox" id="switch77" />
      <label for="switch77"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Business account</span>
      <input type="checkbox" id="switch88" />
      <label for="switch88"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Show me online</span>
      <input type="checkbox" id="switch99" />
      <label for="switch99"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Delete history</span>
      <input type="checkbox" id="switch101" />
      <label for="switch101"  data-off-label="OFF"></label>
    </div>
    <div class="setting-row">
      <span>Expose author name</span>
      <input type="checkbox" id="switch111" />
      <label for="switch111" data-off-label="OFF"></label>
    </div>
  </form>
</div><!-- side panel -->

</body>

</html>

